:root {
  --black: #222;
  --white: #eee;
  --blue: #6ec9ff;
  --yellow: #ffa833;
  --html: #E34F26;
  --css: #1E5FA9;
  --sass: #C66395;
  --js: #F0DB4F;
  --react: #00D8FF;
  --node: #669F64;
  --gulp: #CB4546;
  --git: #C13F21;
  --npm: #C53635;
  --photoshop: #ED1B23; }

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px; }

body {
  background: var(--black); }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0; }

a {
  text-decoration: none;
  box-shadow: 0px 0px 0px 0px var(--blue);
  transition: box-shadow 0.3s linear; }

a:hover {
  box-shadow: 0px 2px var(--blue); }

#about, #major, #minor, #skills, #codepen, #footer {
  padding: 2rem 1.2rem; }

.wrapper {
  max-width: 800px;
  margin: 0 auto; }

.section__title {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  border-bottom: 2px solid var(--yellow);
  display: inline-block; }

#header {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.2rem; }
  @media (min-width: 350px) {
    #header {
      justify-content: space-around; } }
  #header .header__img {
    height: 110px;
    border-radius: 4px; }
    @media (min-width: 350px) {
      #header .header__img {
        height: 125px; } }
  #header .header__textblock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    #header .header__textblock .header__title {
      font-family: 'Permanent Marker', cursive;
      margin: 0;
      font-size: 2rem; }
      @media (min-width: 380px) {
        #header .header__textblock .header__title {
          font-size: 2.5rem; } }
      @media (min-width: 600px) {
        #header .header__textblock .header__title {
          font-size: 3.5rem; } }
    #header .header__textblock .header__email {
      color: var(--blue);
      align-self: center; }
      @media (min-width: 380px) {
        #header .header__textblock .header__email {
          font-size: 1.1rem; } }

#about {
  background-color: var(--black);
  color: var(--white); }
  #about .about__blurb {
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.5; }
    #about .about__blurb .about__blurb--link {
      color: var(--blue); }
    #about .about__blurb .about__name {
      color: var(--yellow);
      font-weight: bold; }

#major {
  background-color: var(--black);
  color: var(--white); }
  #major .test .test__title {
    text-align: center;
    margin-bottom: 1rem; }
  #major .test .test__img--big {
    width: 100%;
    margin: 0 auto 1rem;
    max-width: 500px;
    display: block; }
  #major .test .test__right {
    display: flex;
    margin: 0 auto 1rem;
    justify-content: space-evenly;
    max-width: 480px; }
    #major .test .test__right .test__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #major .test .test__right .test__links a {
        margin: 0.7rem 0;
        color: var(--blue); }
    #major .test .test__right .test__img--small {
      height: 175px; }
  #major .test .test__description {
    margin: 0 auto 3rem;
    line-height: 1.5;
    max-width: 650px; }
  #major .major__project {
    margin: 0 auto; }
    #major .major__project .major__project--header {
      display: flex;
      justify-content: space-between; }
      #major .major__project .major__project--header .major__project--desktop, #major .major__project .major__project--header .major__project--mobile {
        height: 100px;
        border-radius: 4px; }
      #major .major__project .major__project--header .major__project--titleblock {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        flex-grow: 2; }
        #major .major__project .major__project--header .major__project--titleblock .major__project--link {
          color: var(--blue); }
        #major .major__project .major__project--header .major__project--titleblock .major__project--github {
          color: var(--blue); }
    #major .major__project .major__project--description {
      max-width: 650px;
      margin: 0 auto;
      line-height: 1.5; }
      #major .major__project .major__project--description .tech {
        color: var(--yellow); }

#minor {
  background-color: var(--black);
  color: var(--white);
  margin-bottom: -2rem; }
  #minor .minor__flex {
    max-width: 775px;
    margin: -2rem 0 1rem; }
    @media (min-width: 650px) {
      #minor .minor__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; } }
    #minor .minor__flex .minor__project {
      display: flex;
      justify-content: space-around;
      margin: 2rem auto;
      max-width: 310px; }
      @media (min-width: 650px) {
        #minor .minor__flex .minor__project {
          margin: 2rem 1rem 1rem; } }
      #minor .minor__flex .minor__project .minor__project--img {
        height: 100px;
        width: 100px;
        margin-right: 1.2rem;
        border-radius: 4px; }
      #minor .minor__flex .minor__project .minor__project--text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-evenly; }
        #minor .minor__flex .minor__project .minor__project--text .minor__project--title {
          font-size: 1.1rem; }
        #minor .minor__flex .minor__project .minor__project--text .minor__project--link {
          color: var(--blue);
          align-self: flex-start; }

#skills {
  background-color: var(--black);
  color: var(--white); }
  #skills .skills__list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: -1rem 0; }
    #skills .skills__list .skills__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;
      align-items: center;
      justify-content: center; }
      #skills .skills__list .skills__item i {
        font-size: 50px; }
      #skills .skills__list .skills__item .fa-html5 {
        color: var(--html); }
      #skills .skills__list .skills__item .fa-css3-alt {
        color: var(--css); }
      #skills .skills__list .skills__item .fa-sass {
        color: var(--sass); }
      #skills .skills__list .skills__item .fa-js {
        color: var(--js); }
      #skills .skills__list .skills__item .fa-react {
        color: var(--react); }
      #skills .skills__list .skills__item .fa-node {
        color: var(--node); }
      #skills .skills__list .skills__item .fa-gulp {
        color: var(--gulp); }
      #skills .skills__list .skills__item .fa-git {
        color: var(--git); }
      #skills .skills__list .skills__item .fa-npm {
        color: var(--npm); }
      #skills .skills__list .skills__item .fa-adobe {
        color: var(--photoshop); }
      #skills .skills__list .skills__item .skills__img {
        height: 50px; }
      #skills .skills__list .skills__item p {
        padding-top: 0.5rem; }

#footer {
  background-color: var(--black);
  color: var(--white); }
  #footer .footer__links {
    text-align: center; }
    #footer .footer__links .footer__social {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 2rem; }
      #footer .footer__links .footer__social .footer__social--link {
        color: var(--blue);
        font-size: 2rem; }
    #footer .footer__links .footer__email {
      color: var(--blue);
      font-size: 1.2rem;
      text-align: center;
      align-self: center; }
