#header {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .header__img {
    height: 100px;
  }

  .header__email {
    text-decoration: none;
    align-self: center;
  }
}

#major {
  .major__project {
    .major__project--header {
      display: flex;
      justify-content: space-around;

      .major__project--desktop {
        height: 100px;
      }

      .major__project--titleblock {

        .major__project--title {

        }

        .major__project--link {

        }

        .major__project--github {

        }
      }

      .major__project--mobile {
        height: 100px;
      }
    }

    .major__project--techblock {
      display: flex;
      justify-content: space-evenly;

      .major__project--techitem {

      }
    }
  }
}

#minor {

  .minor__project {
    display: flex;
    justify-content: space-evenly;

    .minor__project--image {
      height: 80px;
    }

    .minor__project--titleblock {

      .minor__project--title {

      }

      .minor__project--link {

      }

      .minor__project--github {

      }
    }
  }
}