:root {
  --black: #222;
  --white: #eee;
  --blue: #56cbf9;
  --yellow: #ffc857;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

a {
  text-decoration: none;
}

#about, #major, #minor, #skills, #codepen, #footer {
  // margin: 3rem 0;
  padding: 2rem 1.2rem;
}

.section__title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  border-bottom: 2px solid var(--yellow);
  display: inline-block;
}

.section__title.right {
  text-align: right;
}

#header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--black);
  color: var(--white);

  .header__img {
    height: 100px;
  }

  .header__textblock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .header__title {
      margin: 0;
    }

    .header__email {
      color: var(--blue);
    }
  }
}

#about {
  background-color: var(--black);
  color: var(--white);

  .about__blurb {
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;

    .about__blurb--link {
      color: var(--blue);
    }

    .about__name {
      color: var(--yellow);
      font-weight: bold;
    }
  }
}

#major {
  background-color: var(--black);
  color: var(--white);

  .major__project {

    .major__project--header {
      display: flex;
      justify-content: space-between;

      .major__project--desktop {
        height: 100px;
      }

      .major__project--titleblock {
        display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      flex-grow: 2;

        .major__project--title {

        }

        .major__project--link {
          color: var(--blue);
        }

        .major__project--github {
          color: var(--blue);
        }
      }

      .major__project--mobile {
        height: 100px;
        // display: none;
      }
    }

    .major__project--description {
      line-height: 1.5;
      letter-spacing: 1px;
    }
  }
}

#minor {
  background-color: var(--black);
  color: var(--white);

  .minor__flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;

    .minor__project {
      display: flex;
      justify-content: space-between;
      margin: 4rem auto;
      max-width: 340px;

      .minor__project--img {
        height: 100px;
        width: 100px;
        // flex-grow: 1;
        // flex-basis: 20%;
      }

      .minor__project--titleblock {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        // flex-basis: auto;
        // flex-grow: 2;
        padding: 0 1rem;
        flex: 1;

        .minor__project--title {
          font-size: 1.2rem;
        }

        .minor__project--links {

          .minor__project--link {
            color: var(--blue);
            display: inline-block;
            margin: 0.5rem 0;

            i {
              margin-right: 0.2rem;
            }
          }
    
          .minor__project--github {
            color: var(--blue);
            display: inline-block;

            i {
              margin-right: 0.2rem;
              margin-left: 0.8rem;
            }
          }
        }
      }
    }
  }
}

#skills {
  background-color: var(--black);
  color: var(--white);

  .skills__list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;

    .skills__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 1rem;
      align-items: center;
      justify-content: center;
      
      i {
        font-size: 50px;
        // padding-bottom: 0.2rem;
      }

      .fa-html5 {
        color: #E34F26;
      }

      .fa-js {
        color: #F0DB4F;
      }

      .fa-css3-alt {
        color: #1E5FA9;
      }

      .fa-sass {
        color: #C66395;
      }

      .fa-node {
        color: #669F64;
      }

      .fa-react {
        color: #00D8FF;
      }

      .fa-git {
        color: #C13F21;
      }

      .fa-adobe {
        color: #ED1B23;
      }

      .fa-gulp {
        color: #CB4546;
      }

      .fa-npm {
        color: #C53635;
      }

      .skills__img {
        height: 50px;
      }

      p {
        padding-top: 0.5rem;
      }
    }
  }
}

#footer {
  background-color: var(--black);
  color: var(--white);

  .social__links {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    // margin: 1rem auto;
    padding: 1rem 0 2rem;
    max-width: 700px;
    margin: 0 auto;

    .social__link {
      color: var(--blue);
    }
  }

  .footer__email {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: var(--blue);
  }
}